# **Data** structure

1. What are data structures, and why are they important?

 Ans - Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are important because they help solve complex problems by allowing data management, quick access, and efficient use of memory and processing time.

2. Explain the difference between mutable and immutable data types with examples:

 Ans - Mutable: Can be changed after creation.
Example: list = [1, 2, 3] → You can add or remove elements.

Immutable: Cannot be changed after creation.
Example: tuple = (1, 2, 3) or string = "hello" → Any change creates a new object.

3. What are the main differences between lists and tuples in Python?

 Ans - List	Tuple Mutable (can change) Slower (due to flexibility) Syntax: [1, 2, 3]

 Immutable (cannot change) Faster (due to immutability) Syntax: (1, 2, 3)

4. Describe how dictionaries store data:

 Ans - Dictionaries store data as key-value pairs inside curly braces {}, where each key maps to a value.
Example:
   student = {"name": "Alice", "age": 20}
5. Why might you use a set instead of a list in Python?

 Ans - Because sets do not allow duplicates and are useful when you need unique values and faster membership tests.

6. What is a string in Python, and how is it different from a list?

 Ans - A string is a sequence of characters (immutable), while a list is a sequence of elements (mutable) that can contain different data types.

Example:
      
String: "hello"

List: ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

 Ans - Tuples are immutable, which means their data cannot be modified after creation. This prevents accidental changes, ensuring data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?

 Ans - A hash table stores data using a key’s hash value to find its position. Python dictionaries are implemented as hash tables.

9. Can lists contain different data types in Python?

 Ans - Yes!    
 Example:
mixed_list = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python:

 Ans - Strings are immutable for performance and security reasons, and to allow them to be used as hash keys.

11. What advantages do dictionaries offer over lists for certain tasks?

 Ans -  Fast lookup by key

       Easy association of related data

      No need to search linearly as in lists

12. Describe a scenario where using a tuple would be preferable over a list:

 Ans - When you want to store constant data that should not change, like coordinates:

  location = (40.7128, -74.0060)

13. How do sets handle duplicate values in Python?

 Ans - Sets automatically remove duplicate values and store only unique elements.

14. How does the in keyword work differently for lists and dictionaries?

 Ans - For lists, in checks if the value exists in the list.

  For dictionaries, in checks if the key exists.

15. Can you modify the elements of a tuple? Explain why or why not:

 Ans - No, because tuples are immutable — once created, their elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case:

 Ans - A nested dictionary is a dictionary inside another dictionary.

 Example use case: storing student records:

  students =
    {"Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}}

17. Describe the time complexity of accessing elements in a dictionary:

 Ans - Accessing an element by key in a dictionary has O(1) time complexity (constant time).

18. In what situations are lists preferred over dictionaries?

 Ans - When the order matters

When data doesn’t need to be associated with a key

When working with simple sequences of data

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 Ans - Dictionaries do not store items in insertion order (in older versions of Python; from Python 3.7+ they preserve order but still shouldn’t be relied on for sorting). You retrieve values by keys, not by order.

20. Explain the difference between a list and a dictionary in terms of data retrieval:

 Ans - List: Retrieve items by index (position).

Dictionary: Retrieve items by key (label).

In [3]:
# 1. Write a code to create a string with your name and print it.
name = "Sanjeev"
print(name)

Sanjeev

In [4]:
# 2. Write a code to find the length of the string "Hello World".
length = len("hello world")
print(length)

11

In [5]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.
upper_case = "hello".upper()
print(upper_case)

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
second_element = list[1]
print(second_element)

b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
reversed_list = list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [13]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [14]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = tuple[-2]
print(second_to_last_element)

blue

In [15]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
minimum_number = min(tuple)
print(minimum_number)

5

In [16]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
index = tuple.index("cat")
print(index)

1

In [17]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruits
print(is_kiwi_in_tuple)

False

In [18]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'a', 'b', 'c'}

In [19]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [20]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary = {"name": "Sanjeev", "age": 21, "city": "Delhi"}
print(dictionary)

{'name': 'Sanjeev', 'age': 21, 'city': 'Delhi'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
key_value = {"name": "John", "age": 25}
key_value["country"] = "USA"
print(key_value)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary = {'name': 'Alice', 'age': 30}
value = dictionary['name']
print(value)

Alice

In [25]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary['age']
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dictionary:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [27]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3]
tuple = (4, 5, 6)
dictionary = {"name": "Sanjeev", "age": 21}
print("List:", list)
print("Tuple:", tuple)
print("Dictionary:", dictionary)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Sanjeev', 'age': 21}

In [28]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replace).
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[39, 48, 66, 80, 88]

In [29]:
# 28. Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = string_list[2]
print(third_element)

cherry

In [30]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [2]:
# 30. Write a code to convert a list of strings into a set.
#Example list of strings
string_list = ["apple", "banana", "apple", "orange", "banana"]

# Convert list to set (this will remove duplicates)
string_set = set(string_list)

# Print the resulting set
print(string_set)

{'orange', 'apple', 'banana'}